.bnt {
  color: #0e3457;
  font-weight: 500;
}

.bluBtn {
  background-color: #003366!important;
  color: white!important;
}

.bluBtn:hover {
	transform: translateY(-3px);
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}