<h1 mat-dialog-title>Confirm Transfer</h1>
<div class="fw-bold" mat-dialog-content>
  Please input the amount you wish to transfer and your pin.
</div>
<div class="row" mat-dialog-content>
  <div *ngIf="responseMsg" [ngClass]="status == false ? 'alert alert-danger' : 'alert alert-danger d-none'">{{responseMsg}}</div>
  <form #transferForm="ngForm" novalidate>
    <div class="row">
      <div class="col-md-6 mb-3">
        <div class="form-outline" *ngFor="let info of senderDetails">
          <label class="form-label">Sender</label>
          <input #sourceAccount type="text" class="form-control" name="sourceAccount" [(ngModel)]="info.accountNumber" readonly required/>
        </div>
      </div>
      <div class="col-md-6 mb-3" *ngFor="let info of accInfo.destAcc">
        <div class="form-outline">
          <label class="form-label">Recepient</label>
          <input #destinationAccount type="text" class="form-control" name="destinationAccount" [(ngModel)]="info.accountNumber" readonly required/>
        </div>
      </div>
    </div>
    <div class="col-md-12 mb-3">
      <div class="form-outline">
        <label class="form-label">Amount</label>
        <input #amount type="text" class="form-control" name="amount" ngModel required/>
      </div>
    </div>
    <div class="col-md-12 mb-3">
      <div class="form-outline">
        <label class="form-label">Pin</label>
        <input #pin type="password" class="form-control" maxlength="4" pattern="^[0-9]{4}$" name="pin" ngModel required/>
      </div>
    </div>
  </form>
</div>
<!--  -->
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button class="btn btn-outline-secondary" type="submit" (click)="createTransfer(transferForm.value)">
    Send
  </button>
</div>
<app-spinner></app-spinner>