<div class="row">
  <div class="container d-flex"  [ngSwitch]="switchTabs">
    <div class="firstDiv">
      <div class="d-flex">
        <div class="tabBtns">
          <div>
            <button class="btn btn-outline-secondary" (click)="changeContent('accountInfo')" type="button">Account Information</button>
          </div>

          <div>
            <button class="btn btn-outline-secondary mBB" (click)="changeContent('newWallet')" type="button">Create New Wallet</button>
          </div>

          <div>
            <button class="btn btn-outline-secondary mBB" (click)="changeContent('fundWallet')" type="button">Fund Wallet</button>
          </div>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
      </div>
    </div>

    <div class="secondDiv">
      <div class="switchCases" *ngSwitchCase="'accountInfo'">
        <div class="row">
          <h4 class="fw-bold">Your account information</h4>
          <div class="d-flex mt-2">
            <div>
              <img class="img-fluid imgLog" src="../../../assets/images/undraw_account.svg" alt="">
            </div>
            <div class="col-9">
              <div class="row">
                <mat-card [ngClass]="accountLevel == 'Verified' ? 'example-card2' : 'example-card'">
                  <mat-card-header>
                    <mat-card-subtitle class="fw-bold">Account Profile: {{accountLevel}}</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content *ngIf="accountLevel == 'Unverified'">
                    <p class="mt-1">
                      Proceed to complete your KYC Validation to 
                      upgrade your account and enable foreign wallet creation
                    </p>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="accountLevel == 'Unverified'">
          <h4 class="fw-bold mt-5">
            Please upload some ID documents (Valid Government ID and Utility Bill) for a basic KYC process.
          </h4>
        <div class="d-flex">
          <div class="col-6">
            <form #kycUploadForm="ngForm">
              <div class="col-md-11 mb-3">
                <div class="form-outline">
                  <label for="ImageDetails" class="form-label laBel">Upload identity card here</label>
                  <input #ImageDetails class="form-control form-control-sm mt-2" type="file" 
                  accept=".jpg, .jpeg, .png, .pdf" name="ImageDetails" ngModel required (change)="handleFile1($event)"/>
                </div>
              </div>

              <div class="col-5">
                <img class="img-responsive img-thumbnail" [src]="previewImage1">
              </div>

              <div>
                <button class="btn btn-outline-secondary mBB" type="submit" (click)="onKycUpload(kycUploadForm)" *ngIf="kycStatusForReUpload == false">Upload</button>
              </div>

              <div>
                <button class="btn btn-outline-secondary mBB" type="submit" (click)="onKycUpload(kycUploadForm)" *ngIf="kycStatusForReUpload == true">ReUpload</button>
              </div>
            </form>
          </div>

          <div class="col-6">
            <form #kycUploadForm="ngForm">
              <div class="col-md-11 mb-3">
                <div class="form-outline">
                  <label for="ImageDetails" class="form-label laBel">upload utility bill here</label>
                  <input #ImageDetails class="form-control form-control-sm mt-2" type="file" 
                  accept=".jpg, .jpeg, .png, .pdf" name="ImageDetails" ngModel required (change)="handleFile2($event)"/>
                </div>
              </div>

              <div class="col-5">
                <img class="img-responsive img-thumbnail popupclass" [src]="previewImage2">
              </div>

              <div>
                <button class="btn btn-outline-secondary mBB" type="submit" (click)="onKycUpload(kycUploadForm)" *ngIf="kycStatusForReUpload == false">Upload</button>
              </div>

              <div>
                <button class="btn btn-outline-secondary mBB" type="submit" (click)="onKycUpload(kycUploadForm)" *ngIf="kycStatusForReUpload == true">ReUpload</button>
              </div>
            </form>
          </div>
        </div>
        </div>
        <div class="row" *ngIf="accountLevel == 'Verified'">
          <div class="d-flex mt-4">
            <div class="col-12">
              <iframe src="https://embed.lottiefiles.com/animation/8011" width="700" height="300"></iframe>
            </div>
          </div>
        </div>
      </div>

      <div class="switchCases" *ngSwitchCase="'newWallet'">
        <div class="row">
          <h4 class="fw-bold">Create a new wallet account</h4>
          <div class="d-flex mt-5">
            <div>
              <img class="img-fluid imgLog" src="../../../assets/images/undraw_new_wallet.svg" alt="">
            </div>
            <div class="col-9">
              <div class="row">
                <form #createWalletForm="ngForm">
                  <div class="form-outline">
                    <h4>Choose a foreign wallet account from the dropdown</h4>
                    <div class="col-md-8 mb-3">
                      <select [(ngModel)]="fCurrency" id="furrency" #currency class="currPill form-control mat-elevation-z4" matRipple name="currency" required>
                        <option  value="">Select a currency from the following options.</option>
                        <option *ngFor="let x of unavailableCurrencies" id="checkCurrency" value={{x.currency}}>{{x.currency}}</option>
                      </select>
                    </div>
                  </div>

                  <button class="btn btn-outline-secondary crWallet mb-3 mt-3" type="submit" (click)="onWalletCreate(createWalletForm.value)">
                    Create Wallet
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="switchCases" *ngSwitchCase="'fundWallet'">
        <div class="row">
          <h4 class="fw-bold">Fund your wallet account</h4>
          <div class="d-flex mt-5">
            <div>
              <img class="img-fluid imgLog" src="../../../assets/images/undraw_fund_wallet.svg" alt="">
            </div>
            <div class="col-9">
              <div class="row">
                <form #fundWalletForm="ngForm">
                  <div class="form-outline">
                    <h4>Choose a foreign wallet account from the dropdown</h4>
                    <div class="col-md-8 mb-3">
                      <select [(ngModel)]="fCurrency" id="furrency" #currency class="currPill form-control mat-elevation-z4" matRipple name="currency" required>
                        <option  value="">Select a currency from the following options.</option>
                        <option *ngFor="let x of fundWalletCurrencies" id="getValue" value={{x.currency}}>{{x.currency}}</option>
                      </select>
                    </div>

                    <div class="col-md-8 mb-3 mt-2">
                      <h4 class="form-label">Amount</h4>
                      <input #amount type="number" class="currPill form-control mat-elevation-z4" name="amount" 
                      ngModel required (keyup)="onKey($event)"/>
                    </div>

                    <div class="col-md-8 mb-3 mt-2">
                      <h4 class="form-label">Amount in naira</h4>
                      <p class="currPill form-control mat-elevation-z4">{{values}}</p>
                    </div>

                  </div>

                  <button class="btn btn-outline-secondary crWallet mb-3 mt-3" type="submit" (click)="onWalletFund(fundWalletForm.value)">
                    Fund Wallet
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-spinner></app-spinner>
