<div class="container-fluid">
  <div class="row d-flex justify-content-between">
    <div class="col-10 p-3">
      <img class="imgLogo" src="../../../assets/images/logo.png" alt="">
    </div>
  </div>
</div>

<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col">
      <div class="card card-registration border border-3 roundB my-2">
        <div class="row d-flex flex-row-reverse divHeight">
          <div class="col-xl-6 d-none d-xl-block position-absolute start-0 top-50 translate-middle-y">
            <img src="../../assets/images/Tablet login-pana.svg"
              alt="Sample photo" class="img-fluid form-img"/>
          </div>
          <form class="col-xl-6" #adminLoginForm="ngForm">
            <div class="card-body p-md-5">
              <h3 class="mb-3 text-uppercase text-center bnt">
                <b>Log In To Admin</b>
              </h3>
              <small class="mb-2" *ngIf="status == false">
                {{responseMsg}}
              </small>
              <div class="row">
                <div class="col-md-12 mb-3">
                  <div class="form-outline">
                    <label class="form-label inputColour mt-3" for="userName">Admin Username</label>
                    <input #username type="text" class="form-control" name="username" ngModel required/>
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <div class="form-outline">
                    <label class="form-label inputColour" for="password">Admin Password</label>
                    <div class="iconEye">
                      <i class="mx-5 fw-bold" [ngClass]="showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'" 
                      (click)="togglePasswordVisibility()"></i>
                    </div>
                    <input #password [type]="showPassword ? 'text' : 'password'" id="password" class="form-control" 
                    pattern="^[a-zA-Z0-9]{6,}$" name="password" ngModel required/>
                  </div>
                </div>
              </div>

              <div class="d-flex justify-content-center pt-3">
                <button
                  class="btn btn-primary ms-2 buttn" type="submit"
                  (click)="onAdminLogin(adminLoginForm.value)"
                  value="Submit" [disabled]="!adminLoginForm.valid">
                Login
                </button>
              </div>

              <p class="text-center text-muted mt-3 mb-0">Not an admin?
                <a routerLink="/login" class="fw-bold text-body"><u>Click here</u></a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-pre-spinner></app-pre-spinner>

