.bdgDivBlue {
  background-color: #003366;
  border-radius: 30px;
  margin-left: 100px;
  height: 20.5vh;
}

.bdgDivRed {
  background-color: #FF0033;
  border-radius: 30px;
  margin-left: 100px;
  height: 20.5vh;
}

.myBal {
  color: white;
  font-size: 18px;
}

.balFigure {
  color: white;
}

i {
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.showBal {
  margin-top: 85px;
  color: white;
}

.compusloryMargin {
  margin-left: 100px;
}

/* If the screen size is 990px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 990px) {
  .compusloryMargin {
    margin-left: 100px;
  }

}
/* ************************************************************************ */


.btn-outline-secondary {
  background-color: #FF0033!important;
  color: white!important;
}

.searchResult {
  font-size: 18px;
  line-height: 250%;
  margin-left: 160px;
}

.proceedTo {
  background-color: #003366!important;
  color: white!important;
  position: absolute;
  left: 70%;
  bottom: 25%;
}

.proceedTo:hover {
	transform: translateY(-3px);
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.currPill {
  border: #003366 1px solid;
  padding: 5px;
  border-radius: 25px;
  cursor: pointer;
  width: 40%;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

