<div class="row">
  <div class="container">
    <div class="col-12">
      <mat-tab-group animationDuration="2000ms" mat-stretch-tabs="false" mat-align-tabs="end">
        <mat-tab label={{info.currency}} *ngFor="let info of acctDetails">
          <div [ngClass]="info.currency == 'USD' || info.currency == 'GBP' ? 'col-9 bdgDivRed d-flex justify-content-between' : 'col-9 bdgDivBlue d-flex justify-content-between'">
            <div class="mt-4">
              <div [hidden]="!showEye">
                <span class="myBal mx-4 mt-5">Balance</span>
                <div class="mx-4 mt-2 d-flex">
                  <h1 class="balFigure text-center" *ngIf="info.currency == 'NGN'">{{info.balance |currency:"&#8358;":"symbol":"1.2-2"}}</h1>
                  <h1 class="balFigure text-center" *ngIf="info.currency == 'USD'">{{info.balance |currency:"USD":"symbol":"1.2-2"}}</h1> 
                  <h1 class="balFigure text-center" *ngIf="info.currency == 'EUR'">{{info.balance |currency:"EUR":"symbol":"1.2-2"}}</h1> 
                  <h1 class="balFigure text-center" *ngIf="info.currency == 'GBP'">{{info.balance |currency:"GBP":"symbol":"1.2-2"}}</h1> 
                </div>
              </div>
              <div [hidden]="showEye">
                <span class="myBal mx-4 mt-5">Balance</span>
                <div class="mx-4 mt-2 d-flex">
                  <h1 class="balFigure text-center">XXXXXXXX</h1>
                </div>
              </div>
            </div>
            <div class="showBal d-flex flex-column">
              <i (click)="toggleEye()" [ngClass]="showEye ? 'fa fa-eye mx-5' : 'fa fa-eye-slash mx-5'"></i>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>


    <!--  -->
    <div class="col-9 compusloryMargin">
      <form>
        <div class="input-group mb-3 mt-3">
          <input type="search" class="form-control" name="searchInfo" 
          [(ngModel)]="searchInfo" [value]="searchInfo" placeholder="Search by email or username or account number">
          <button class="btn btn-outline-secondary" type="submit" (click)="accountLookUp(searchInfo)">
            Search
          </button>
        </div>
      </form>
    </div>
    <!--  -->
    <div class="col-9 compusloryMargin searchResult" *ngIf="this.status; else elseDiv">
      <h2>Search Result:</h2>
      <h3>Firstname: <span>{{firstName}}</span></h3>
      <h3>Lastname: <span>{{lastName}}</span></h3>
      <h3 *ngFor="let info of destAcct">Account Number: <span>{{info.accountNumber}}</span></h3>
    </div>
    <ng-template #elseDiv>
      <div class="col-9 compusloryMargin searchResult">
        <h3>Account Not Found</h3>
      </div>
    </ng-template>
    <!--  -->
    <div class="col-9 compusloryMargin mt-5">
      <button class="btn btn-outline-secondary proceedTo" type="submit" (click)="openDialog('600ms', '300ms')">
        Proceed to Transfer
      </button>
    </div>
  </div>
</div>
<app-spinner></app-spinner>