<mat-toolbar>
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click) = "sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
  <div class="row">
    <div class="container-fluid navContainer">
      <div>
        <img src="../assets/images/Logo-.png" alt="">
      </div>
      <div class="container allDivCon">
        <div class="notificationDiv">
          <button type="button" class="btn btn-primary notificationColour">
            <mat-icon class="ico">sms</mat-icon><span class="badge bg-danger spanBadge">4</span>
          </button>
        </div>
        <div class="nameDiv">
          <p>Hi, Username </p>
          <p>Hi, Username </p>
          <!-- <p>Hi, {{this.username}} </p>
          <p>Hi, {{this.username}} </p> -->
        </div>
        <div class="imgDiv">
          <img src="../../../assets/images/undraw_profile_pic_red.svg" 
          class="rounded-circle imgElement" alt="Avatar" />
        </div>
      </div>
    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <button mat-button class="menu-button" routerLink="minidashboard">
      <mat-icon class="ico">home</mat-icon>
      <span>Dashboard</span>
    </button>
    <button mat-button class="menu-button mBB" routerLink="sendmoney">
      <mat-icon class="ico">money</mat-icon>
      <span>Send Money</span>
    </button>
    <button mat-button class="menu-button mBB" routerLink="fundaccount">
      <mat-icon class="ico">payment</mat-icon>
      <span>Fund Account</span>
    </button>
    <button mat-button class="menu-button mBB" routerLink="transactions">
      <mat-icon class="ico">list</mat-icon>
      <span>Transactions</span>
    </button>
    <button mat-button class="menu-button mBB" routerLink="profile">
      <mat-icon class="ico">account_circle</mat-icon>
      <span>Profile</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
      <mat-icon class="ico">power_settings_new</mat-icon>
      <span>Log Out</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

