.imgLogo {
	width: 180px;
	height: 90px;
	margin-left: -10px;
}

.chipBtnDiv {
  margin-left: -600px;
  margin-top: 15px;
  position: relative;
}

.chipImg {
  border: 1px solid #ff0033;
}

.firstChip {
  position: absolute;
  left: 100%;
}

.lastDiv {
  margin-left: -500px;
  margin-top: 15px;
  position: relative;
}

.notificationDiv {
	position: absolute;
  right: 120%;
}

.imgElement {
	width: 70px;
	height: 70px;
	border: 1px solid #ff0033;
  margin-top: -10px;
}

.notificationColour {
	background-color: #003366!important;
  position: relative;
}

.notificationColour:hover {
	transform: translateY(-3px);
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.ico {
  color: white;
	font-size: 27px;
}


.spanBadge {
  position: absolute;
  right: -20%;
  top: -25%;
}

mat-toolbar {
  height: 100px!important;
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #003366;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(113vh - 98px);
  margin: 16px;
  margin-left: 32px;
}

mat-sidenav-container {
  height: calc(113vh - 65px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.9rem;
}

.menu-button:hover {
	transform: translateY(-3px);
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.mBB {
  margin-top: 30px;
}

span {
  color: white;
}

mat-icon {
  margin-right: 8px;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(0, 0, 0, 0.5);
}

