.ico {
  color: white;
	font-size: 27px;
}

.spanBadge {
	font-size: 10px;
	position: absolute;
}

.navContainer {
	display: flex;
	justify-content: space-between;
}

.allDivCon {
	display: flex;
	justify-content: space-between;
}

.imgDiv {
	transform: translate(1310%, -2%);
}

.imgElement {
	width: 70px;
	height: 70px;
}

.notificationDiv {
	margin-top: 5px;
	transform: translate(1200%, 5%);
}

.notificationColour {
	background-color: #003366!important;
}

.notificationColour:hover {
	transform: translateY(-3px);
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.nameDiv p {
	margin-top: 10px;
	/* color: #fff; */
	color: #003366;
	font-size: 1.2em;
	position: absolute;
	transform: translate(600%, 5%);
}

/* .nameDiv p:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2.6px #003366;
}

.nameDiv p:nth-child(2) {
	color: #FF0033;
	animation: animate 3s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 25%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
} */

mat-toolbar {
  height: 100px!important;
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #003366;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(113vh - 98px);
  margin: 16px;
  margin-left: 32px;
}

mat-sidenav-container {
  height: calc(113vh - 65px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.9rem;
}

.menu-button:hover {
	transform: translateY(-3px);
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.mBB {
  margin-top: 30px;
}

span {
  color: white;
}

mat-icon {
  margin-right: 8px;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(0, 0, 0, 0.5);
}

