.ico {
  color: white;
}

.btnColour {
  background-color: #003366!important;
}

.btnDiv {
	margin-left: 150px;
	margin-top: 30px;
}

.imgAvatar {
  width: 80px;
  height: 80px;
  margin-left: 80px;
  /* position: absolute; */
  box-shadow: inset 0px 1px 2px #003366a6;
}

mat-toolbar {
  height: 90px;
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #003366;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(113vh - 98px);
  margin: 16px;
  margin-left: 32px;
}

mat-sidenav-container {
  height: calc(113vh - 65px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.9rem;
}

.mBB {
  margin-top: 30px;
}

span {
  color: white;
}

mat-icon {
  margin-right: 8px;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(0, 0, 0, 0.5);
}

.nameSign p {
	color: #fff;
	font-size: 1.2em;
	position: absolute;
	transform: translate(-50%, -50%);
}

.nameSign p:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2.6px #003366;
}

.nameSign p:nth-child(2) {
	color: #FF0033;
	animation: animate 3s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 25%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}

