<mat-toolbar>
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click) = "sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
  <div class="row">
    <div class="col-12 d-flex flex-row">
      <div class="col-12 p-3">
        <img src="../assets/images/Logo-.png" alt="">
      </div>
      <div class="col-12 d-flex flex-row">
        <div class="col-11 mt-4 ">
          <button type="button" class="btn btn-primary btnColour">
            Notifications <span class="badge bg-danger">4</span>
          </button>
        </div>
        <div class="nameSign mt-4 me-4">
          Hi, Fname 
        </div>
        <div>
          <img src="../../../assets/images/undraw_profile_pic_red.svg" 
          class="rounded-circle mt-1 imgAvatar" alt="Avatar" />
        </div>
      </div>
    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <button mat-button class="menu-button" routerLink="minidashboard">
      <mat-icon class="ico">home</mat-icon>
      <span>Dashboard</span>
    </button>
    <button mat-button class="menu-button mBB" routerLink="sendmoney">
      <mat-icon class="ico">money</mat-icon>
      <span>Send Money</span>
    </button>
    <button mat-button class="menu-button mBB" routerLink="fundaccount">
      <mat-icon class="ico">account_balance</mat-icon>
      <span>Fund Account</span>
    </button>
    <button mat-button class="menu-button mBB" routerLink="transactions">
      <mat-icon class="ico">list</mat-icon>
      <span>Transactions</span>
    </button>
    <button mat-button class="menu-button mBB" routerLink="profile">
      <mat-icon class="ico">account_circle</mat-icon>
      <span>Profile</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
      <mat-icon class="ico">settings_power</mat-icon>
      <span>Log Out</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

