@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	font-family: "Poppins", sans-serif;
}

.imgLogo {
	width: 180px;
	height: 90px;
	margin-left: 70px;
}

.form-img {
  width: 25rem;
  height: 25rem;
}

.bnt {
  color: #0e3457;
  /* color: #003366; */
}

.roundB {
  border-radius: 50px;
}

.redBtn {
  background-color: #FF0033!important;
  color: white!important;
}

.redBtn:hover {
	transform: translateY(-3px);
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.bluBtn {
  background-color: #003366!important;
  color: white!important;
}

.bluBtn:hover {
	transform: translateY(-3px);
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.divHeight {
  padding: 80px;
}

