<div class="row">
  <div class="mt-4 firstDiv">
    <div class="d-flex">
      <div class="bdgDiv">
        <div class="mt-4">
          <span class="myBal mx-4">Balance</span>
          <div class="mx-4 mt-2 d-flex">
            <h1 class="balFigure"><span>&#8358;</span>35,450.87</h1> 
            <span class="balCurr mt-2">NGN</span>
          </div>
        </div>
      </div>
      <div class="mt-4">
        <div>
          <span class="mx-4 myAcct">Account Number</span>
          <h1 class="mx-4 mt-2 acctNum">{{this.acctNumber}}</h1> why is it not working??????????
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="tranDiv mt-5">
    <div class="mt-4">
      <span class="myBal mx-2">Last Transactions</span>
    </div>
  </div>
</div>
