<div class="row">
  <div class="nameDiv">
    <p>Welcome, {{username}} </p>
    <p>Welcome, {{username}} </p>
  </div>
</div>

<div class="row">
  <div class="col-9 d-flex justify-content-between">
    <div class="mt-5">
      <img class="imgDash" src="../../../assets/images/undraw_revenue_red.svg" alt="">
    </div>

    <div class="col-12">
      <mat-tab-group animationDuration="2000ms" mat-stretch-tabs="false" mat-align-tabs="end">
        <mat-tab label={{info.currency}} *ngFor="let info of acctDetails">
          <div [ngClass]="info.currency == 'USD' || info.currency == 'GBP' ? 'firstDivRed' : 'firstDivBlue'">
            <div class="d-flex">
              <div [ngClass]="info.currency == 'USD' || info.currency == 'GBP' ? 'bdgDivRed' : 'bdgDivBlue'">
                <div class="mt-4">
                  <span class="myBal text-center mx-4">Balance</span>
                  <div class="mx-4 mt-2 d-flex">
                    <h1 class="balFigure text-center">{{info.balance |currency:info.currency:"symbol":"1.2-2"}}</h1>
                  </div>
                </div>
              </div>
              <div class="mt-4">
                <div>
                  <span class="mx-4 text-center myAcct">Account Number</span>
                  <h1 class="mt-2 text-center acctNum">{{info.accountNumber}}</h1>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>


<div class="row">
  <div class="tranDiv mt-3">
    <div class="mt-4">
      <span class="myBal">Last three Transactions</span>
      <div class="table-responsive mt-4">
        <table class="table table-bordered text-center align-middle">
          <thead class="text-white">
            <tr>
              <th scope="col">AMOUNT</th>
              <th scope="col">SENDER INFO</th>
              <th scope="col">RECEPIENT INFO</th>
              <th scope="col">TYPE</th>
              <th scope="col">CURRENCY</th>
              <th scope="col">STATUS</th>
              <th scope="col">DATE</th>
            </tr>
          </thead>
          <tbody class="text-white tableBody">
            <tr *ngFor="let item of lastThreeTxns">
              <td>{{item.amount |currency:item.currency:"symbol":"1.2-2"}}</td>
              <td>{{item.senderInfo}}</td>
              <td>{{item.recepientInfo}}</td>
              <td>
                <p [ngClass]="item.transactionType == 'CREDIT' ? 'badge bg-success' : 'badge bg-danger'">{{item.transactionType}}</p>
              </td>
              <td>{{item.currency}}</td>
              <td>{{item.status}}</td>
              <td>
                <p class="badge bg-primary dateColour">{{item.date | date:'dd/MM/YYYY hh:mm a'}}</p> <br>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <a class="linkToTxn" routerLink="/dashboard/transactions">View more transactions......</a>
    </div>
  </div>
</div>

