.nameDiv p {
	margin-top: 10px;
	color: #fff;
	color: #003366;
	font-size: 1.5em;
	position: absolute;
	transform: translate(20%, 5%);
}

.nameDiv p:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2.6px #003366;
}

.nameDiv p:nth-child(2) {
	color: #FF0033;
	animation: animate 3s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 25%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}

/* ********************************************************** */
.imgDash {
  width: 260px;
  height: 260px;
}

.firstDivBlue {
  border: 2px #003366 solid;
  margin-left: 50px;
  border-radius: 25px;
  width: 50%;
  height: 21vh;
  margin-top: 65px!important;
}

.firstDivRed {
  border: 2px #FF0033 solid;
  margin-left: 50px;
  border-radius: 25px;
  width: 50%;
  height: 21vh;
  margin-top: 65px!important;
}

.bdgDivBlue {
  background-color: #003366;
  border-radius: 30px;
  width: 50%;
  margin-left: -6px;
  height: 20.5vh;
}

.bdgDivRed {
  background-color: #FF0033;
  border-radius: 30px;
  width: 50%;
  margin-left: -6px;
  height: 20.5vh;
}

.myBal {
  color: white;
  font-size: 18px;
}

.balFigure {
  color: white;
}

.balCurr {
  color: white;
}

.myAcct {
  color: black;
  font-size: 18px;
  font-weight: 500;
}

.acctNum {
  color: black;
  font-weight: 400;
}

.tranDiv {
  background-color: #003366;
  width: 97%;
  height: 50vh;
  margin-left: 17px;
  border-radius: 25px;
}

.tableBody {
  font-size: 18px;
}

.linkToTxn {
  color: white;
  font-size: 15px;
  text-decoration: none;
  border-radius: 30px;
  display: inline-block;
  padding: 5px;
}

.linkToTxn:hover {
  transform: translateY(-5px);
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

mat-tab-group {
	width: 100%;
  margin-bottom: 48px;
	color: #003366;
}

