<h1 mat-dialog-title class="text-center mt-3">Confirm Logout</h1>
<div mat-dialog-content>
  <img class="img-fluid" src="../../../assets/images/undraw_logout.svg" alt="">
</div>
<div class="fw-bold text-center" mat-dialog-content>
  Are you sure you want to logout?
</div>
<div mat-dialog-actions class="divBTns mt-4">
  <button mat-button mat-dialog-close class="noBtn mx-2" (click)="backToApp()">No</button>
  <button mat-button mat-dialog-close cdkFocusInitial class="yesBtn mx-2" (click)="authService.logoutUser()">Ok</button>
</div>

