.pdfBtn {
  background-color: #FF0033;
  color: white;
}

.pdfBtn:hover {
  transform: translateY(-3px);
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.excelBtn {
  background-color: green;
  color: white;
}

.excelBtn:hover {
  transform: translateY(-3px);
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}