.txnText {
  color: #003366!important;
  font-weight: 500;
}

.panel {
  width: 90%;
}

.readTrue {
  color: #003366;
}

.readFalse {
  transform: translateY(-8px);
  box-shadow: 0 8px 8px -4px #003366;
	/* box-shadow: 15px 8px 15px 8px rgba(0, 0, 0, 0.15); */
}

