<div class="container-fluid">
  <div class="row">
    <div class="col-10 p-3">
      <img src="../assets/images/Logo-.png" alt="">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div>
      <img src="../../../assets/images/undraw_page_not_found.svg" alt="Sample photo" class="img-fluid img404"/>
    </div>
    <div>
      <h2 class="col-6 text-center mt-5">Page Not Found
        <a routerLink="/login" class="fw-bold text-body"><u>Please login to your account</u></a>
      </h2>
    </div>
  </div>
</div>

