<h3 mat-dialog-title class="mx-2 mt-1">Preview your notifications</h3>
<div class="col-12" mat-dialog-content *ngIf="noOfNotifications != 0">
  <div class="card mx-2 mt-3" *ngFor="let info of notificationDetails">
    <div class="card-body">
      <button type="submit" class="btn-close d-flex ms-auto bd-highlight" 
      aria-label="Close" id="notificationID" (click)="SetNotificationsToRead(info.id)"></button>
      {{info.heading}}
    </div>
  </div>
</div>

<div class="col-12" mat-dialog-content *ngIf="noOfNotifications == 0">
  <div class="card mx-2 mt-3">
    <div class="card-body">
      No new notifications
    </div>
  </div>
</div>

<div mat-dialog-actions class="mt-5">
  <button mat-button mat-dialog-close class="cancelNoti mx-2" (click)="reloadPage()">Cancel</button>
  <button mat-button mat-dialog-close cdkFocusInitial class="moreNoti mx-2" routerLink="/dashboard/notifications">
    View more notifications...
  </button>
</div>
