@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	font-family: "Poppins", sans-serif;
}

.tranDiv {
  color: #003366!important;
  font-weight: 500;
  border-radius: 25px;
}

.tableBody {
  font-size: 18px;
}

.filterCard {
  color: #003366;
}

.filterText {
  margin-left: 47rem;
}

.filterInput {
  margin-top: -11px;
}

.dateColour {
  background-color: #003366!important;
}

.raisedbox { 
  padding-top: 50px;
}

.pointer {
  cursor: pointer;
}

.bg-danger {
  background-color: #FF0033!important;
}

.btn-outline-secondary {
  background-color: #FF0033!important;
  color: white!important;
}

.btn-outline-secondary:hover {
	transform: translateY(-3px);
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.btnDiv {
  margin-top: 18px;
}

.sortByDiv {
  font-size: 13px;
  cursor: pointer;
}

.btn-outline-primary {
  background-color: #003366!important;
  color: white!important;
}

.btn-outline-primary:hover {
  transform: translateY(-3px);
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}