<div class="row">
  <div class="tranDiv mt-3">
    <h2 class="myBal mx-2">List of all Transactions</h2>
    <!--  -->
    <button class="mx-2 btn btn-outline-secondary" type="submit" (click)="openTxnRangeDialog('600ms', '300ms')">
      Get Transactions By Date Range
    </button>
    <!--  -->
    <div class="mt-3">
      <div class="filterCard d-flex justify-content-between">
        <div class="col-12">
          <div class="d-flex justify-content-between">
            <h4 class="filterText"><b>Filter By:</b></h4> 
            <div class="filterInput mx-2">
              <input type="search" [(ngModel)]="searchText" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive mt-2 mx-2">
        <table class="table table-bordered text-center align-middle"
        *ngIf="(txns | filterBy: searchText).length > 0; else noResults">
          <thead>
            <tr>
              <th scope="col" (click)="setOrder('amount')">
                AMOUNT <span class="pointer" [hidden]="reverse">▼</span><span class="pointer" [hidden]="!reverse">▲</span>
              </th>
              <th scope="col" (click)="setOrder('senderInfo')">
                SENDER INFO <span class="pointer" [hidden]="reverse">▼</span><span class="pointer" [hidden]="!reverse">▲</span>
              </th>
              <th scope="col" (click)="setOrder('recepientInfo')">
                RECEPIENT INFO <span class="pointer" [hidden]="reverse">▼</span><span class="pointer" [hidden]="!reverse">▲</span>
              </th>
              <th scope="col" (click)="setOrder('type')">
                TYPE <span class="pointer" [hidden]="reverse">▼</span><span class="pointer" [hidden]="!reverse">▲</span>
              </th>
              <th scope="col" (click)="setOrder('currency')">
                CURRENCY <span class="pointer" [hidden]="reverse">▼</span><span class="pointer" [hidden]="!reverse">▲</span>
              </th>
              <th scope="col" (click)="setOrder('status')">
                STATUS <span class="pointer" [hidden]="reverse">▼</span><span class="pointer" [hidden]="!reverse">▲</span>
              </th>
              <th scope="col" (click)="setOrder('date')">
                DATE <span class="pointer" [hidden]="reverse">▼</span><span class="pointer" [hidden]="!reverse">▲</span>
              </th>
            </tr>
          </thead>
          <tbody class="tableBody">
            <tr *ngFor="let item of txns | filterBy: searchText | orderBy: order: reverse | paginate: {itemsPerPage: tableSize, currentPage: page, totalItems: count}; let i = index">
              <td>{{item.amount |currency:"&#8358;":"symbol":"1.2-2"}}</td>
              <td>{{item.senderInfo}}</td>
              <td>{{item.recepientInfo}}</td>
              <td>
                <p [ngClass]="item.transactionType == 'CREDIT' ? 'badge bg-success' : 'badge bg-danger'">{{item.transactionType}}</p>
              </td>
              <td>{{item.currency}}</td>
              <td>{{item.status}}</td>
              <td>
                <p class="badge bg-primary dateColour">{{item.date | date:'dd/MM/YYYY hh:mm a'}}</p> <br>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="d-flex justify-content-center raisedbox">
          <pagination-controls
            previousLabel="Prev"
            nextLabel="Next"
            (pageChange)="onTableDataChange($event)"
          >
          </pagination-controls>
        </div>

        <ng-template #noResults>
          <p>No results found for "{{searchText}}".</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<app-spinner></app-spinner>

