@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	font-family: "Poppins", sans-serif;
}

.imgLogo {
	width: 180px;
	height: 90px;
	margin-left: 70px;
}

.bnt {
  color: #003366;
}

.inputColour {
  color: rgb(87, 84, 84);
}

.roundB {
  border-radius: 50px;
}

.buttn {
  background-color: #337AB7;
}

input.ng-invalid {
  border: rgba(253, 85, 85, 0.753) 1px solid;
}

small {
  color: rgba(253, 85, 85, 0.932);
}

.linkToAdmin {
  text-decoration: none;
  color: #003366;
}

.imgElement {
	width: 25px;
	height: 25px;
	border: 1px solid #003366;
  margin-top: -10px;
}

.adminTxt {
  font-size: 12px;
}

