/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

@font-face {
	font-family: FiraSans-Black;
	src: url("assets/fonts/FiraSans-Black.ttf");
}

@font-face {
	font-family: FiraSans-Bold;
	src: url("assets/fonts/FiraSans-Bold.ttf");
}

@font-face {
	font-family: MeeraInimai-Headings;
	src: url("assets/fonts/MeeraInimai-Regular.ttf");
}